/* -------- GENERAL STYLING -----------*/

@font-face {
    font-family: 'jediFont';
    src: url(../fonts/Starjedi.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}


* {
    cursor: url(../cursors/blaster_cursor.png) 32 32, pointer;
    margin: 0;
    padding:0;
    font-family: 'jediFont';
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

p {
    /* text-align:center; 
    vertical-align: middle;
    display: table-cell;
    line-height: normal; */
    background-color: transparent;
    color: inherit;
    padding: .5vw;
}


body {
    background-color: #000000;
    margin: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    border: 0;
    z-index: 1;
}

img {
    /* This filter is to add drop shadows on assets */
    /* filter: drop-shadow(.4vw .05vw .05vw #000); */
    /* filter: sepia(100%); */
    /* filter:hue-rotate(180deg); */
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

#gamePlayArea {
    width: 100vw;
    height: 100vh;
    aspect-ratio: 16 / 9;
    perspective: 2000px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

#timer {
    position: absolute;
    top: 0;
    right: 0;
    margin: 2%;
    background-color: white;
    z-index: 999;
}

 /* ---------- ASSET ANIMATIONS ---------- */

 .fadeIn {
    animation-name: fadeIn;
    animation-fill-mode: both;
    animation-duration: 1000ms;
    animation-iteration-count: 1;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        scale: 0;
    }

    100% {
        opacity: 1;
        scale: 1;
    }
}

.dancing {
    animation-name: dance;
    animation-fill-mode: forwards;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
}

@keyframes dance {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(.25vh);
    }

    100% {
        transform: translateY(0);
    }
}

.jumping {
    animation-name: jumping;
    animation-fill-mode: none;
    animation-direction: normal;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes jumping {
    0% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-10vh);
    }

    80% {
        transform: translateY(0);
    }

    90% {
        transform: translateY(-2vh);
    }

    100% {
        transform: translateY(0);
    }
}

.vibrating {
    animation-name: vibrating;
    animation-fill-mode: forwards;
    animation-duration: 200ms;
    animation-iteration-count: infinite;
}

@keyframes vibrating {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(.05vh);
        transform: translateX(.05vh);
    }

    100% {
        transform: translateY(0);
    }
}

.dodging {
    animation-name: dodge;
    animation-fill-mode: both;
    animation-direction: alternate;
    animation-duration: 2000ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes dodge {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-10vh) translateY(-2vh);
    }

    50% {
        transform: translateX(10vh) translateY(2vh);
    }

    100% {
        transform: translateX(0);
    }
}

.evading {
    animation-name: evading;
    animation-fill-mode: both;
    animation-duration: 2000ms;
    animation-timing-function:ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes evading {
    0% {
        transform: translateX(0) translateY(0);
    }

    25% {
        transform: translateX(-4vh) translateY(-4vh);
    }

    50% {
        transform: translateX(4vh) translateY(-2vh);
    }

    100% {
        transform: translateX(0)  translateY(0);
    }


}

.destroyTarget {
    animation-name: fadeOut;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    5%{
        filter: brightness(300%);
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 0;
        visibility: hidden;
    }
}

.destroyTarget2 {
    visibility: hidden !important;
    opacity: 0 !important;
    filter: brightness(300%) !important;
    transition: visibility 0s 500ms , opacity 500ms linear !important;

}

 /* ---------- INTERFACE OBJECTS ---------- */

.interface{
    position:fixed;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 2vh;
    border-style: solid;
    border-width: .2vw;
    background-color: #b9c0bf;
    filter: drop-shadow(.5vw .5vw .5vw);
}


 #scoreDisplay{
    
    top: 2vh;
    left: 37.5vw;
    text-align: center;
    justify-content: center;
    width: 25vw;
    height: auto;
    font-size: 2vw;

}

#blasterDisplay {
    top: 20vh;
    right: 2vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 8vw;
    height: 8vw;
    font-size: auto;
}

#timerDisplay {
    top: 2vh;
    right: 2vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 8vw;
    height: 8vw;
    font-size: auto;
}

.timerSpin{
    animation-name: timerSpin;
    animation-fill-mode: both;
    animation-duration: 5s;
    animation-timing-function:linear;
    animation-direction:normal;
    animation-iteration-count: infinite;
}

@keyframes timerSpin {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(180deg);;
    }
    100% {
        transform: rotate(180deg);;
    }



}