/* -------- GENERAL INTERFACE STYLIING -----------*/

* {
    cursor: url(../cursors/cursor.png), pointer;
    margin: 0;
    font-family: 'Varela Round', sans-serif;
}

body {
    background-color: #000000;
    margin: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    border: 0;
    z-index: 1;
}

img {
    /* This filter is to add drop shadows on assets */
    filter: drop-shadow(.25rem .25rem .25rem #000);
}

#gamePlayArea {
    width: 100vw;
    height: 100vh;
    perspective: 2000px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

 /* ---------- ASSET ANIMATIONS ---------- */

 .dropIn {
    animation-name: dropIn;
    animation-fill-mode: both;
    animation-duration: 1000ms;
    animation-iteration-count: 1;
}

@keyframes dropIn {
    0% {
        transform: scale(4);
        opacity: 0;
    }

    80% {
        transform: scale(.9);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.dancing {
    animation-name: dance;
    animation-fill-mode: forwards;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
}

@keyframes dance {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(.25vh);
    }

    100% {
        transform: translateY(0);
    }
}

.dodge {
    animation-name: dodge;
    animation-fill-mode: both;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
}

@keyframes dodge {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-10vh);
    }

    50% {
        transform: translateX(10vh);
    }

    100% {
        transform: translateX(0);
    }
}

.destroyTarget {
    animation-name: fadeOut;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    5%{
        filter: brightness(300%);
        transform: scale(1.05);
        opacity: 1;
    }

    100% {
        transform: scale(0);
        opacity: 0;
    }
}

/* --------- TARGET STYLING -------- */

.goodEwok:hover{
    /* Dont forget to change corsor type to crosshair or its off! */
    cursor: url(../cursors/blaster_cursor.png), crosshair;
}