.fly-left {
    animation-name: fly-left;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.fly-right {
    animation-name: fly-right;
    animation-duration: 5s;
    animation-timing-function:cubic-bezier(0.47, 0, 0.745, 0.715);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes fly-left {
    0% {
        left: 0;
    }

    100% {
        left :100%;
    }
}

@keyframes fly-right {
    0% {
        left: 100%;
    }

    100% {
        left: 0;
    }
}